.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* This centers the content vertically */
    padding: 20px;
    margin: 20px 0;
  }
  
  .flex-container img {
    max-width: auto; /* Ensures the image scales correctly */
    height: auto;
  }
  
  .text-content {
    text-align: left;
    padding: 20px;
    margin-left: 20px;
    opacity: 1; /* Reduces the overall opacity of the text-content */
    
  }
  
  .text-content p {
    margin-bottom: 15px;
    line-height: 1.2;
    color: #044418; /* Correct property to set text color */
    font-size: 22px; /* Add 'px' unit for font-size */
  }
  
  