/* fruit.css */

/* Base styles for desktop */
.style-textbox {
  margin-left: 2rem;
  padding: 3rem;
  box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.2);
  max-width: 95%;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.image-box {
  max-width: 95%;
  margin-left: 2rem;
}

p {
  line-height: 1.8rem;
}

.bullet {
  position: relative;
  padding-left: 20px;
}

.pine {
  background-color: #cbf3a3;
}

.pine p,
.pine strong {
  color: #0c5819;
}

.pine .bullet::before {
  background-color: #0c5819;
}


.kiwi {
  background-color: #defaa1;
}

.kiwi p,
.kiwi strong {
  color: #485524;
}

.kiwi .bullet::before {
  background-color: #485524;
}


.litchi {
  background-color: #ffe3d5;
}

.litchi p,
.litchi strong,
.litchi h5 {
  color: #75090d;
}

.litchi .bullet::before {
  background-color: #75090d;
}


.mango {
  background-color: #f5e9a6;
}

.mango p,
.mango strong {
  color: #a06104;
}

.mango .bullet::before {
  background-color: #a06104;
}

.jack {
  background-color: #daf1c1;
}

.jack p,
.jack strong {
  color: #2a3f1d;
}

.jack .bullet::before {
  background-color: #2a3f1d;
}





.bullet::before {
  content: '';
  position: absolute;
  left: 0;
  top: 12%;
  width: 12px;
  height: 12px;
  background-color: #0f721f;
  border-radius: 50%;
}

.fruit-container {
  padding: 20px;
}

.fruit-container img {
  max-width: 100%;
  height: auto;
}

.fruit-container div {
  margin-bottom: 20px;
}

/* Styles for pineapple section */
.pineapple-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pineapple-section .image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.pineapple-section .image-wrapper img {
  width: 300px;
  height: 180px;
}

/* Styles for kiwi section */
.kiwi-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kiwi-section .image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.kiwi-section .image-wrapper img {
  width: 300px;
  height: 180px;
}

/* Styles for litchi section */
.litchi-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.litchi-section .image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.litchi-section .image-wrapper img {
  width: 300px;
  height: 180px;
}

/* Styles for mango section */
.mango-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mango-section .image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.mango-section .image-wrapper img {
  width: 300px;
  height: 180px;
}

/* Styles for jackfruit section */
.jackfruit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jackfruit-section .image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.jackfruit-section .image-wrapper img {
  width: 300px;
  height: 180px;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .res-hidden {
    display: none;
  }

  .fruit-container {
    padding: 10px;
  }

  .fruit-container div {
    margin-bottom: 15px;
  }

  .fruit-container img {
    width: 100%;
  }

  .style-textbox {
    margin-left: 0;
  }

  .image-box {
    max-width: 95%;
    margin-left: 0rem;
  }


  .bullet::before {
    top: 3%;
  }

  .pineapple-section .image-wrapper,
  .kiwi-section .image-wrapper,
  .litchi-section .image-wrapper,
  .mango-section .image-wrapper,
  .jackfruit-section .image-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .pineapple-section .image-wrapper img,
  .kiwi-section .image-wrapper img,
  .litchi-section .image-wrapper img,
  .mango-section .image-wrapper img,
  .jackfruit-section .image-wrapper img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .fruit-container div p {
    font-size: 14px;
  }

  .fruit-container div h5 {
    font-size: 16px;
  }
}