.organic-farming-container {
  position: relative;
}

.organic-farming-container .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.organic-farming-container .background-image img {
  width: 100%;
  height: auto;
  max-height: 650px;
}

.organic-farming-container .content-area {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.organic-farming-container .content-area .farming-girl-image-container {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.organic-farming-container .content-area .farming-girl-image-container img {
  width: 100%;
  height: auto;
  max-height: 600px;
}

.organic-farming-container .content-area .image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.organic-farming-container .content-area .farming-girl-container {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  margin-left: 30px;
}

.organic-farming-container .content-area .farming-girl-container img {
  margin-top: 10%;
  max-width: 500px;
}

.organic-farming-container .content-area .text-header {
  margin-top: 10%;
  position: relative;
}

.organic-farming-container .content-area .text-header span {
  display: block;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: aliceblue;
  margin-bottom: -80px;
  text-align: left;
  margin-left: 50px;
}

.organic-farming-container .content-area .text-header i {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: aliceblue;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 50px;
}

/* Mobile view adjustments */
@media (max-width: 760px) {
  .organic-farming-container .background-image {
    position: absolute;
  }

  .organic-farming-container .content-area {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .organic-farming-container .content-area .image-container {
    flex-direction: column;
    align-items: center;
  }

  .organic-farming-container .content-area .farming-girl-image-container {
    max-width: 90%;
    margin-top: 20px;
  }

  .organic-farming-container .content-area .farming-girl-container {
    margin-left: 0;
    margin-top: 20px;
  }

  .organic-farming-container .content-area .farming-girl-container img {
    max-width: 100%;
    margin-top: 150px;
  }

  .organic-farming-container .content-area .text-header {
    text-align: center;
    margin-left: 10px;
  }

  .organic-farming-container .content-area .text-header span {
    font-size: 5.4vw;
    margin-left: 0;
  }

  .organic-farming-container .content-area .text-header i {
    font-size: 14px;
    margin-left: 0;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .organic-farming-container .content-area .farming-girl-container img {
    margin-top: 18%;
    max-width: 300px;
  }

  .organic-farming-container .content-area .text-header span {
    font-size: 23px;
  }

}