.awesome-farmer-team-container {
  position: relative;
  text-align: center;
  padding: 20px;
  margin-top: -200px;
}

.text-style {
  position: relative;
  margin-top: 150px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1f1764;
  z-index: 2;
}

.head-line-aft {
  margin-top: 300px;
}
.artboard-images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.artboard-item {
  position: relative;
  width: 30%;
  height: max-content;
  padding: 10px;
}

.green-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.artboard-item img:nth-of-type(2) {
  position: relative;
  width: 80%;
  height: auto;
  z-index: 2;
}

.orange-image {
  position: absolute;
  top: 63%;
    left: 72%;
    transform: translateX(-40%);
    width: 240px;
  z-index: 3;
  object-fit: contain;
}
 

/* Mobile view adjustments */
@media (max-width: 640px) {
  .text-style {
    font-size: 18px; /* Adjust font size for mobile */
    margin-top: 100px; /* Adjust margin-top for mobile */
  }

  .artboard-images-container {
    flex-direction: column;  
    align-items: center;
   }

  .artboard-item {
    width: 90%;  
   }

  .green-border {
    width: 100%;
    height: auto;  
  }

  .orange-image {
    position: relative;  
    top: -120px;
      left: 55%;
      width: 50%;
      /* transform: none;   */
  }
}