.para p {
    font-size: 17px;
    font-weight: 500;
    color: rgb(3, 80, 3);
    max-width: 90%;
    margin-inline: 2rem;
    line-height: 2rem;
}

.desc-down {
    margin-top: 13%;
}

.h3 {
    font-size: 22px;
    font-weight: 600;
    color: rgb(3, 80, 3);

}


.cin-section {
    width: 100%;
    min-height: max-content;
}


.cin-hero-img {
    width: 100%;
    height: auto;
}


.cin-hero-img img {
    width: 100%;
    height: 100%;
}

.cin-about-section {
    width: 100%;
    min-height: 100vh;
}

.cin-desc {
    grid-template-columns: repeat(2, 1fr);
}

.cin-desc .desc-img {
    width: 100%;
}


.round-box {
    position: relative;
    height: 500px;
    width: 500px;
    background-color: rgb(40, 126, 61);
    border-radius: 50%;
    box-shadow: 0px 0px 30px 15px rgb(174, 216, 111);
    overflow: hidden;
    margin-top: -8rem;
    margin-left: 2rem;
}

.round-box img{
   position: absolute;
   left: 0;
   width: 85%;
   border-radius: 43%;   
}

.cin-desc .desc-img img {
    width: 99%;
    height: 34rem;
}


.list-items li {
    font-size: 17px;
    font-weight: 500;
    color: rgb(3, 80, 3);
    line-height: 2rem;
}


@media (max-width: 640px) {
    .res-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .res-col-rev {
        flex-direction: column-reverse;
    }

    .para p {
        font-size: 15px;
        line-height: 2rem;
        margin-top: -5rem;
    }

    .cin-section {
        min-height: fit-content;
    }

    .cin-hero-img {
        max-width: 100%;
        height: fit-content;
    }

    .cin-hero-img img {
        max-width: 100%;
        height: auto;
    }

    .round-box  {
        width: 250px;
        height: 250px;
        margin-block: 2rem;
        margin-left: 0rem;
    }

    .round-box img {
        object-fit: contain;
    }

    .cin-desc .desc-img img {
        height: auto;
    }

    .h3 {
        margin-inline: 2rem;
        font-size: 20px;
    }

    .list-items li {
        font-size: 15px;
        line-height: 2.5rem;
        margin-inline: 2rem;
    }

}