.grid-box {
    display: grid;
}

.flex-box {
    display: flex;
}

.alignItems {
    align-items: center;
}

.justifyItems {
    justify-content: center;
}

.ali-jus {
    align-items: center;
    justify-content: center;
}
