.new-product img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.new-product img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.new-product {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.image-container {
  margin: 0 10px;
}

.img-fluid {
  height: 300px;
  width: auto;
  object-fit: contain;
}
