h2 {
  text-align: center;
  color: rgb(25, 25, 160)
}

.new-product img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.new-product img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}


.items-container {
  margin-inline: 3rem;
  max-width: 100%;
  height: max-content;
  margin-top: 1.5rem;
}

.new-product {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
}

.mt5 {
  margin-top: 6rem;
}


@media (max-width: 767px) {
  .new-product .image-container {
    margin: 10px 0; /* Adjust margin for mobile */
  }

  .img-fluid {
    height: auto; /* Let height adjust automatically */
    width: 80%; /* Adjust width for better mobile view */
  }

  .new-product img {
    width: 100%;
    margin-bottom: 10px; /* Space between images */
    
  }
}

