.new-hot-products-container .top-heading{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.new-hot-products-container .top-heading h2 span{
    color: #238009;
    text-align: center;
    font-size:20px;
}

.new-hot-products-container .top-heading h2{
    color: #1F1764;
    text-align: center;
}

.new-hot-products-container .new-products-card-container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;

    margin-top:50px;
     /* max-width:600px; */
}
.new-hot-products-container .new-products-card-container .new-products-card{
    position:relative;
}

.new-hot-products-container .new-products-card-container .new-products-card img{
    width:auto;
}

.new-hot-products-container .new-products-card-container .new-products-card .header-img-1{
    position:absolute;
    top:13%;
    left:27%;

}

.new-hot-products-container .new-products-card-container .new-products-card .header-img-2{
    position:absolute;
    top:13%;
    left:24%;

}

.new-hot-products-container .new-products-card-container .new-products-card .header-img-3{
    position:absolute;
    top:18%;
    left:15%;

}

.new-hot-products-container .new-products-card-container .new-products-card .header-img-4{
    position:absolute;
    top:18%;
    left:15%;

}

.new-hot-products-container .new-products-card-container .new-products-card .card-content{
    position:absolute;
    top: 77%;
    left: 33%;
    text-align: center;
}


.new-hot-products-container .new-products-card-container .new-products-card .card-content h5{
    color: #1F1764;
    font-weight: 600;
}